.header {
  background: #20222b;
  padding: 1.6rem 0;
  margin-bottom: 4.8em;
  color: whIte;
}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: #a5afd7;
  margin: 0;
}