.option {
  .flex();
  border-bottom: solid .1rem darken(@off-white, 10%);
  p {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }
}

ol {
  list-style: none;
  padding: 0;
}